* {
	cursor:default;
	margin: 0px;
	padding: 0px;}
HTML {
	width: 100%;
	height: 100%;
	font-family: 'Droid Sans', sans-serif;
	background: url('img/background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-user-select: none;
	-moz-user-select: none;
	overflow: hidden;}
body {
	width: 100%;
	height: 100%;
	min-width: 840px;
	background: #333;}
ul {
	position: relative;
	width: 800px;
	height: 510px;
	margin: 50px auto;
	padding: 0;
	list-style: none;
	overflow-x: hidden;
	overflow-y: scroll;}
ul li {
	position: relative;
	height: 200px;
	padding: 20px;
	background: #eee;
	color: #252525;
	z-index: 2;
	overflow: auto;}
ul li:nth-child(odd) {
	background: #fff;}
div.panel {
	height: 28px;
	background-color: rgba(0,0,0,0.7);
	z-index: 999;}
div.plusone {
	display: inline-block;
	padding: 4px 0px 0px 6px;
	float: left;
	width: 40px;}
div.tweet {
	display: inline-block;
	padding: 4px 0px 0px 0px;
	float: left;}
div.time {
	color: white;
	font-size: 9pt;
	width: auto;
	height: 22px;
	display: inline-block;
	padding-top: 7px;
	position: absolute;
	margin-left: -46px;
	left: 50%;}
img.panelicons {
	display: inline-block;
	float: right;
	padding: 3px 5px 5px 5px;}
#avatar {
	height: 18px;
	width: 18px;
	margin-top: 2px;}
#jsdebug {
	height: 32px;
	width: 300px;
	background-color: black;
	color: white;
	display: none;}
p.announce {
	text-align: center;
	font-size: 48pt;}
