* {
	cursor:default;
	margin: 0;
	padding: 0;}
HTML {
	background: url('/img/back.png');
	min-width: 800px;
	font-family: 'Pontano Sans', sans-serif;
    content-zooming: none;
    -ms-content-zooming: none;
    -webkit-content-zooming: none;
    -moz-content-zooming: none;}
a {
	color: black;
	cursor: pointer;
	text-decoration: none;}
a:hover {
	color: black;
	text-decoration: underline;}
a:visited {
	color: black;}
a:active {
	color: black;}
li:before {
	content:"- ";
	font-weight: bold;}
ul {
	list-style-type: none;
	text-indent: 0;}
/*Fix blue border around image links in IE*/
a img {
	border: none;}
/*End*/
canvas#themecanvas {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    -ms-touch-action: none; }
#panel {
	height: 28px;
	width: 100%;
	min-width: 800px;
	position: fixed;
	top: -28px;
	color: white;
	font-size: 12px;
	line-height: 28px;
	font-family: 'Droid Sans', sans-serif;
	background-color: rgba(0,0,0,0.7);
	z-index: 2;
	transition: top .5s ease;
	-moz-transition: top .5s ease;
	-webkit-transition: top .5s ease-out;
	-o-transition: top .5s ease;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;}
#name {
	height: 28px;
	position: absolute;
	padding: 0 10px;}
#jsdebug:before {
	content: "jsdebug: ";}
#jsdebug {
	height: 28px;
	position: absolute;
	left: 110px;
	display: none;}
div.time {
	width: 120px;
	height: 28px;
	line-height: 28px;
	margin: 0 auto;
	text-align: center;}
#panelicons {
	height: 28px;
	position: absolute;
	top: 0;
	right: 7px;}
img.panelicons {
	height: 22px;
	width: 22px;
	padding: 3px;
	cursor: pointer;
	-webkit-transition: all 0.05s ease-out;
	-moz-transition: all 0.05s ease;
	-ms-transition: all 0.05s ease;
	-o-transition: all 0.05s ease;
	transition: all 0.05s ease;}
/*img.panelicons:hover {
	height: 26px;
	width: 26px;
	padding: 1px;
	text-decoration: none;}*/
img.panelicons:active {
	height: 18px;
	width: 18px;
	padding: 5px;
	text-decoration: none;}
#speaker {}
#avatar {
	height: 18px;
	width: 18px;
	padding: 5px;}
/*#avatar:hover {
	height: 22px;
	width: 22px;
	padding: 3px;}*/
#avatar:active {
	height: 14px;
	width: 14px;
	padding: 7px;}
#dropbox {}
a.imglink {
	text-decoration: none;}
#notify {
	height: 20px;
	width: 100%;
	top: -48px;
	position: fixed;
	background-color: rgba(230, 0, 0, 0.95);
	padding: 28px 0 0;
	font-family: 'Droid Sans', sans-serif;
	color: white;
	text-align: center;
	line-height: 20px;
	font-size: 15px;
	z-index: 1;
	transition: all .5s ease;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease-out;
	-o-transition: all .5s ease
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;}
#notify a:link {
	color: white;}
#notify a:visited {
	color: white;}
#notify a:hover {
	text-decoration: underline;}
#social {
	height: 48px;
	width: 152px;
	background-color: white;
	position: fixed;
	top: 35px;
	right: 26px;
	z-index: 3;
	border-top-left-radius: 2px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	box-shadow: 0 10px 40px rgba(0, 0, 0, .4);
	transition: all .15s ease;
	-moz-transition: all .15s ease;
	-webkit-transition: all .15s ease-out;
	-o-transition: all .15s ease;}
#social.hidden {
	display: none;
	transform: scale(0,0);
	-moz-transform: scale(0,0);
	-webkit-transform: scale(0,0);
	-o-transform: scale(0,0);}
#social.full {
	display: block;
	transform: scale(1,1);
	-moz-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	-o-transform: scale(1,1);}
#social-triangle {
	width: 0;
	height: 0;
	margin: -10px 0 0 116px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid white;}
img.socialicons {
	height: 32px;
	width: 32px;
	padding: 8px;
	cursor: pointer;
	-webkit-transition: all 0.05s ease-out;
	-moz-transition: all 0.05s ease;
	-ms-transition: all 0.05s ease;
	-o-transition: all 0.05s ease;
	transition: all 0.05s ease;}
/*img.socialicons:hover {
	height: 36px;
	width: 36px;
	padding: 6px;
	text-decoration: none;}*/
img.socialicons:active {
	height: 28px;
	width: 28px;
	padding: 10px;
	text-decoration: none;}
#main {
	width: 720px;
	margin: 38px auto 0;
	padding: 30px;
	background-color: white;
	border-top-left-radius: 2px;
	border-top-right-radius: 35px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	box-shadow: 0 10px 40px rgba(0, 0, 0, .4);
	transform: scale(.5,.5);
	-moz-transform: scale(.5,.5);
	-webkit-transform: scale(.5,.5);
	-o-transform: scale(.5,.5);
	transition: all .5s ease;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease-out;
	-o-transition: all .5s ease;}
#main.full {
	transform: scale(1,1);
	-moz-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	-o-transform: scale(1,1);}
#logo {
	height: 128px;
	width: 128px;
	margin: 0 0 -10px 10px;
	float: right;}
h3 {
	font-family: 'Cabin', sans-serif;
	font-size: 20px;}
.details {
	margin: 12px;
	font-size: 16px;
	text-indent: 24px;
	text-align: justify;}
p.li-head {
	margin: 0 10px;
	font-weight: bold;}
ul.details {
	font-size: 16px;
	margin: 0 12px 12px;}
/* Lights */
div.lights {
	width: 100px;
	height: 100px;
	position: absolute;
	margin: 30px 0 0 -30px;
	background: red;
	color: white;
}

#hidden {
	display: none;}