* {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;}
HTML {
	width: 100%;
	height: 100%;
    font-family: 'Droid Sans', sans-serif;
    background: url('img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;}
body {
    width: 100%;
    height: 100%;
    x-border: 6px solid yellow;}
div.panel {
    height: 28px;
    background-color: rgba(0,0,0,0.7);}
div.plusone {
    display: inline-block;
    padding: 4px 0px 0px 6px;
    float: left;
    width: 65px;}
div.like {
    display: inline-block;
    padding: 4px 0px 0px 0px;
    float: left;
    width: 80px;}
div.tweet {
    display: inline-block;
    padding: 4px 0px 0px 0px;
    float: left;}
div.time {
    color: white;
    font-size: 12px;
    width: 92px;
    height: 22px;
    display: inline-block;
    padding-top: 7px;
    position: fixed;
    margin-left: -46px;
    left: 50%;}
img.power {
    display: inline-block;
    float: right;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;}
img.mail {
    display: inline-block;
    float: right;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;}
img.high {
    display: inline-block;
    float: right;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;}
img.avatar {
    display: inline-block;
    float: right;
    height: 18px;
    width: 18px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;}
img.wired {
    display: inline-block;
    float: right;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;}
div.dock {
    width: 244px;
    height: 17px;
    display: block;
    position: fixed;
    bottom: 0px;
    left: 50%;
    margin-left: -122px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-width: 0px;
    border: 1px solid rgba(0,0,0,.37);
    /* IE */
    background-image: -ms-linear-gradient(top, rgb(255,255,255) 0%, rgb(235,235,235) 100%);
    /* Firefox */ 
    background-image: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(235,235,235) 100%);
    /* Opera */ 
    background-image: -o-linear-gradient(top, rgb(255,255,255) 0%, rgb(235,235,235) 100%);
    /* Safari/Chrome 10 */ 
    background-color: rgb(255,255,255);
    /* Chrome 11+ */ 
    background-image: -webkit-linear-gradient(top, rgb(255,255,255) 0%, rgb(235,235,235) 100%);
    /* W3C */ 
    background-image: linear-gradient(to bottom, rgb(255,255,255) 0%, rgb(235,235,235) 100%);}
img.google {
    width: 48px;
    height: 48px;
    margin: -32px 0px 0px;
    padding: 0px 5px;
    float: left}
img.twitter {
    width: 48px;
    height: 48px;
    margin: -32px 0px 0px;
    padding: 0px 5px;}
img.dev {
    width: 48px;
    height: 48px;
    margin: -32px 0px 0px;
    padding: 0px 5px;}
img.setting {
    width: 48px;
    height: 48px;
    margin: -32px 0px 0px;
    padding: 0px 5px;}