* {
	cursor:default;
	margin: 0;
	padding: 0;}
HTML {
	font-family: 'Pontano Sans', sans-serif;
	background: url('img/back.png');
	min-width: 801px;}
a {
	text-decoration: none;}
/*Fix blue border around image links in IE*/
a img {
	border: none;}
/*End*/
#panel {
	font-family: 'Droid Sans', sans-serif;
	height: 28px;
	width: 100%;
	min-width: 801px;
	position: fixed;
	top: -28px;
	line-height: 28px;
	color: white;
	background-color: rgba(0,0,0,0.7);
	z-index: 999;
	transition: top .65s ease;
	-moz-transition: top .65s ease;
	-webkit-transition: top .65s ease-out;
	-o-transition: top .65s ease;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;}
#name {
	height: 28px;
	position: absolute;
	font-size: 9pt;
	padding: 0 10px;}
#jsdebug:before {
	content: "jsdebug: ";}
#jsdebug {
	height: 28px;
	position: absolute;
	font-size: 9pt;
	left: 110px;
	display: none;}
div.time {
	color: white;
	font-size: 9pt;
	width: 120px;
	height: 28px;
	line-height: 28px;
	margin: 0 auto;
	text-align: center;}
#panelicons {
	height: 28px;
	position: absolute;
	top: 0;
	right: 0;}
img.panelicons {
	height: 22px;
	width: 22px;
	padding: 3px;
	-webkit-transition: all 0.05s ease-out;
	-moz-transition: all 0.05s ease;
	-ms-transition: all 0.05s ease;
	-o-transition: all 0.05s ease;
	transition: all 0.05s ease;}
img.panelicons:hover {
	height: 26px;
	width: 26px;
	padding: 1px;}
img.panelicons:active {
	height: 18px;
	width: 18px;
	padding: 5px;}
#power {}
#mail {}
#speaker {}
#avatar {
	height: 18px;
	width: 18px;
	padding: 5px;}
#avatar:hover {
	height: 22px;
	width: 22px;
	padding: 3px;}
#avatar:active {
	height: 14px;
	width: 14px;
	padding: 7px;}
#network {}
#dropbox {}
#warning {
	height: 20px;
	display: none;
	background-color: red;
	padding: 28px 0 0;
	color: white;
	text-align: center;
	font-size: 11pt;}
#warning a:link {
	color: white;}
#warning a:visited {
	color: white;}
#warning a:hover {
	text-decoration: underline;}
#main {
	/*height: 1000px;*/
	width: 750px;
	margin: 38px auto;
	background-color: white;
	border-radius: 6px;
	box-shadow: 0 10px 40px rgba(0, 0, 0, .4);
	transform: scale(.5,.5);
	-moz-transform: scale(.5,.5);
	-webkit-transform: scale(.5,.5);
	-o-transform: scale(.5,.5);
	transition: all .5s ease;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease-out;
	-o-transition: all .5s ease;}
#main.full {
	transform: scale(1,1);
	-moz-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	-o-transform: scale(1,1);}
#welcome {
	padding: 30px;
	font-size: 24pt;
	text-align: center;}
#hidden {
	display: none;}
