/*
Journal Comments
*/
div.comments {
	clear:both;
}
div.indented{
	margin-left:36px;
}
div.comment{
	padding: 10px 0;
}
div.comment div.avatar{
	float:left;
	padding-right:10px;
}
/* Workaround for forums first comment since there are no edit and so on links on the right side */
div.first_comment div.creation{
	margin-bottom:12px;
}
div.comment div.author{
	padding:8px 0 5px;
	font-size:20px;
	font-weight:bold;
	color:#333333;
}

div.comment div.author a{
	font-size:20px;
	font-weight:bold;
	color:#333333;
}

div.comment div.created{
	color:#BBBAAA;
	font-size:10px;
}

div.comment div.actions{
	float:right;
}

div.comment div.actions ul.links{
	width:300px;
	text-align:right;
}

div.comment_text{
	position:relative;
	clear:both;
}

div.comment_text div.comment-corner
{
	position:absolute;
	background: url("../img/comment/comment-corners.png");
}

div.comment_text div.comment-topbot
{
	position:absolute;
	background: url("../img/comment/comment-topbot.png");
}

div.comment_text div.comment-leftright
{
	position:absolute;
	background: url("../img/comment/comment-leftright.png");
}


div.comment_text div.top_start{
	top:0;
	left:0;
	width:35px;
	height:20px;
}

div.comment_text div.top_middle{
	top:0;
	left:35px;
	right:10px;
	height:20px;
	background-position: 0 10px;
	background-repeat: repeat-x;
}

div.comment_text div.top_end{
	top:0;
	right:0;
	width:10px;
	height:20px;
	background-position: -35px 0;
}

div.comment_text div.left{
	top:20px;
	bottom:10px;
	left:0;
	width:10px;
}

div.comment div.center{
	padding: 20px 10px 10px 10px;
}

div.comment-content{
	padding-bottom:3px;
}

div.comment_text div.comment-content{
	color:#bbbaaa;
	line-height:14px;
	background: #303030;
}

div.comment_text div.right{
	top:20px;
	bottom:10px;
	right:0;
	width:10px;
	background-position: -10px 0;
}

div.comment_text div.bottom_start{
	bottom:0;
	left:0;
	width:10px;
	height:10px;
	background-position: 0 -20px;
}

div.comment_text div.bottom_middle{
	bottom:0;
	left:10px;
	right:10px;
	height:10px;
	background-position: 0 -30px;
}

div.comment_text div.bottom_end{
	bottom:0;
	right:0;
	width:10px;
	height:10px;
	background-position: -35px -20px;
}

div.comment ul.links li a {
	color: #AAA;
}

div.comment ul.links li a:hover {
	color: #666;
}
.indented .indented .indented .indented .indented{
	margin-left: 0;
}