/*
** Addition styles for Discover Page
** Original Author: KHampal
*/
/* The carousel at the top */
#appbar {
	height: 100px;
	width: 940px;
	margin: 0 0 15px;
	text-align: center;
	position: relative;
}
#appbar  li {
	list-style-type: none;
}
#appbar  .widlim {
	margin: 0 auto;
	width: 445px;
	padding-top: 0px;
	display: block;
	text-align: center;
	position: relative;
}
#appbar  #spotlightslider {
	height: 76px;
	width: 89px;
	background: url(../img/discover-page/app_bar_spotlight.png) no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
#appbar  .widlimcont {
	width: 920px;
	padding-top: 0px;
	display: block;
	background: #171717;
	height: 84px;
	text-align: center;
	margin-top: -4px;
	position: absolute;
}
#appbar  .appbaricon {
	padding-top: 16px;
	float: left;
	width: 89px;
	color: #FFF;
	font-weight: bold;
	font-size: 9pt;
	height: auto;
	z-index: 3;
	position: relative;
}
#appbar  img  {
	border: 0;
	margin-bottom: 5px;
}
#appbar a {
	color: #FFF;
	text-decoration: none;
	width: 89px;
	white-space: nowrap;
	display: inline-block;
}
/* Breaking the black box into bits */
.appbar_center {
	padding: 10px;
}
div#appbar div.appbar_top_start {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 10px;
	height: 10px;
	background-image: url("../img/discover-page/top-left.png");
}
div#appbar div.appbar_top_middle {
	position: absolute;
	top: 0px;
	left: 10px;
	right: 10px;
	height: 6px;
	background-image: url("../img/discover-page/top.png");
}
div#appbar div.appbar_top_end {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 10px;
	height: 10px;
	background-image: url("../img/discover-page/top-right.png");
}
div#appbar div.appbar_left {
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 0px;
	width: 10px;
	background-image: url("../img/discover-page/left.png");
}
div#appbar div.appbar_right {
	position: absolute;
	top: 10px;
	bottom: 10px;
	right: 0px;
	width: 10px;
	background-image: url("../img/discover-page/right.png");
}
div#appbar div.appbar_bottom_start {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 10px;
	height: 10px;
	background-image: url("../img/discover-page/bottom_left.png");
}
div#appbar div.appbar_bottom_middle {
	position: absolute;
	bottom: 0px;
	left: 10px;
	right: 10px;
	height: 10px;
	background-image: url("../img/discover-page/bottom.png");
}
div#appbar div.appbar_bottom_end {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 10px;
	height: 10px;
	background-image: url("../img/discover-page/bottom-right.png");
}
/* The middle bit with videos + descriptions */
.app {
	padding: 10px !important;
}
.app .titlecontainer {
	height: 64px;
	display: block;
	padding: 0 0 20px;
	margin: -10px -20px 10px;;
}
.app .appicon {
	width: 64px;
	height: 64px;
	float: left;
}
.app .textcontainer {
	float: left;
	height: 64px;
	margin-left: 14px;
}
.app h1 {
	color: #4D4D4D;
	font-size: 24pt;
	font-weight: bold;
	font-family: "Droid Sans";
	padding: 0;
	margin: 10px 0 15px;

}
.app h2 {
	color: #999;
	font-size: 18pt;
	font-weight: normal;
	font-family: "Droid Sans";
	margin-top: -1px;
}
.app .right-discover {
	width: 278px;
	height: 82px;
	float: right;
	text-align: right;
	margin-top: -20px;
}
.app .downloadcode {
	font-size: 7pt;
	line-height: 20px;
	color: #999;
}
.app .downloadbutton {
	float: right;
	width: 278px;
	height: 62px;
	background: url(../img/discover-page/ubuntu-download.png);
}
.app .downloadbutton:hover {
	background-position: 0 62px;
}
.app  .appvideo {
	width: 900px;
}
/* Fix to stop massive space being created by videojs */
.video-js-box {
	overflow: hidden;
}
.app-switch p {
	width: 880px;
	margin: 0 auto;
}
.download-expand {
	display: none;
	width: 539px;
	text-align: left;
	position: fixed;
	background: url(../img/discover-page/d-expand.png) no-repeat;
	color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 40px 125px;
	height: 288px;
	z-index: 9;
	top: 10%;
}
.download-expand  pre {
	margin: 16px 0 16px 20px;
	background: #474747;
	font-family: "Droid Sans";
	font-size: 12px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	line-height: 25px;
	padding: 0 10px;
	overflow-x: hidden;
}
.download-expand  h1 {
	font-size: 18px;
	font-weight: normal;
	color: #FFF;
}
.download-expand  h2 {
	font-size: 14px;
	color: #8D8D8D;
	font-weight: normal;
	padding: 5px 0 10px 0;
}
.download-expand  .download-close {
	position: absolute;
	top: 2px;
	left: 2px;
	font-size: 10px;
	cursor: pointer;
	color: #CCC;
	height: 30px;
	width: 30px;
	background: url(../img/discover-page/close.png) no-repeat;
}
.download-expand  .download-info {
	position: absolute;
	top: 35px;
	left: 35px;
	background: url(../img/discover-page/d-info.png) no-repeat;
	width: 61px;
	height: 56px;
}
.download-expand  p {
	list-style: none;
	line-height: 30px;
}
.download-expand  img {
	margin: 5px 0 0 20px;
}
.download-expand a.d-install {
	background: url(../img/discover-page/d-install.png);
	width: 118px;
	height: 25px;
	margin: 5px 0 0 20px;
	display: inline-block;
}
.download-expand a.d-install:hover {
	background-position: 0 50px;
}
.download-expand a.d-install:active {
	background-position: 0 100px;
}

.video-js-box {
	margin: 0 -40px;
	width: 900px;
}

.discover .app-desc h3 img {
	float: left;
	margin-right: 5px;
}
.discover .app-desc h3 {
	line-height: 80px;
	height: 64px;
	overflow: hidden;
	font-weight: bold;
	color: #666;
	font-size: 28px;
}
.discover .app-desc p {
	font-size: 14px;
	width: auto;
}
.discover .app-desc .discdetail {
	float: left;
	clear: both;
	padding: 20px 0 10px;
	width: 840px;
}
.discover .app-desc .discdetail.detail-1 {
	float: right;
}
.discover .app-desc .discdetail img.detail-img{
	float: right;
}
.discover .app-desc .discdetail.detail-1 img.detail-img{
	float: left;
}
.discover .app-desc .discdetail .app-body-value {
	float: left;
}
.discover .app-desc .discdetail .discover-sub-cont {
	float: left;
	width: 400px;
}
.discover .app-desc .discdetail.detail-1 .discover-sub-cont {
	float: right
}
.de-cont {
	width: 789px;
	margin: 0 auto;
	position: relative;
}

/*
Some temporary stuff until we have the video version up.
*/

.app .appvideo {
	margin-left:-40px;
	position:relative;
	z-index:1;
}

.app .marker {
	position:absolute;
	background:transparent url("../img/discover-page/hotspot.png") top;
	height:32px;
	width:32px;
	display:block;
	z-index:10;
	cursor:help;
}

	.app .marker.viewed {
		background-position:bottom;
	}

.hoverbox {
	position:absolute;
	width:150px;
	right:-155px;
	top:14px;
	background:rgba(0,0,0,0.8);
	border:solid 1px #FFF;
	display:none;
	padding:10px;
	-moz-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow:0 0 8px rgba(0,0,0,.5);
	box-shadow:0 0 8px rgba(0,0,0,.5);
	color:#fff;
	z-index:100;
}

	#the-desktop .appvideo .hoverbox.a4{
		top:-209px;
	}
/*
Marker Positions
*/

	/* 1 */

	#the-desktop .appvideo .marker.a1 {
		top:0;
		left:10px;
	}

	#midori .appvideo .marker.a1{
		top:57px;
		left:74px;
	}

	#lingo .appvideo .marker.a1{
		top:39px;
		left:285px;
	}

	#postler .appvideo .marker.a1{
		top:40px;
		left:290px;
	}

	#dexter .appvideo .marker.a1{
		top:30px;
		left:235px;
	}

	/* 2 */

	#the-desktop .appvideo .marker.a2 {
		top:0;
		right:150px;
	}

	#midori .appvideo .marker.a2{
		top:39px;
		left:310px;
	}

	#lingo .appvideo .marker.a2{
		top:29px;
		right:352px;
	}

	#postler .appvideo .marker.a2{
		top:40px;
		right:148px;
	}

	#dexter .appvideo .marker.a2{
		top:38px;
		right:154px;
	}

	/* 3 */

	#the-desktop .appvideo .marker.a3 {
		top:200px;
		right:450px;
	}

	/*#midori .appvideo .marker.a3{
		top:57px;
		right:128px;
	}*/

	#lingo .appvideo .marker.a3{
		top:195px;
		left:236px;
	}

	#postler .appvideo .marker.a3{
		top:148px;
		left:153px;
	}

	#dexter .appvideo .marker.a3{
		top: 113px;
		right: 623px;
	}

	/* 4 */

	#the-desktop .appvideo .marker.a4{
		bottom:40px;
		left:300px;
	}

	#midori .appvideo .marker.a4{
		top:150px;
		left:440px;
	}

	#lingo .appvideo .marker.a4{
		top:140px;
		right:383px;
	}

	#postler .appvideo .marker.a4{
		top:453px;
		right:345px;
	}

	#dexter .appvideo .marker.a4{
		top:92px;
		right:393px;
	}

	/* 5 */

	#postler .appvideo .marker.a5{
		top:391px;
		left:349px;
	}
