html
{
    overflow-x: hidden;
    content-zooming: none;
    -ms-content-zooming: none;
    -webkit-content-zooming: none;
    -moz-content-zooming: none;
}

canvas#backgroundGradient
{
    position: fixed;
    top: -12%;
    left: -200px;
}

div#sceneContainer
{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
}


canvas#snowflakesCanvas
{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /* prevent default touch actions such as zoom */
    -ms-touch-action: none;        
}